* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'nav header header'
    'nav content sidebar'
    'nav content sidebar'
    ;
    grid-template-columns: 3fr 7fr 3fr;
    grid-template-rows: 120px 1fr;
}

header,
main,
aside,
nav {
    background-color: #1992D4;
    color: white;
    border: #F0B429 1px solid;
    padding: 20px;
    font-weight: bold;
}

header {
    grid-area: header;
    background-color: #FFFFFF;
    color: black;
}

nav {
    grid-area: nav;
    
}

main {
    grid-area: content;
    background-color: #E2E8F0;
}

aside {
    grid-area: sidebar;
}

h3 {
    display: inline;
}

ul {
    list-style: none;
    padding-top: 16px;
    padding-bottom: 16px;
}

li {
    padding-top: 8px;
    padding-bottom: 8px;
}

i {
    padding-right: 15px;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

i:hover {
    transform: scale(1.5);
}

.headerContainerTop {
    Display: flex;
}

.hCTcolumnOne {
    flex: 1;
    display: table;
}

.hCTcolumnTwo {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

span {
    display: table-cell;
}

input {
    border-radius: 18px;
    background-color: #E2E8F0;
    width: 1fr;       
    
}

.headerContainerBot {
    display: flex;
}

.hCBcolumnOne {
    display: grid;
    grid-template-columns: 1fr 12fr;
    padding: 20px;
    flex: 1;

}
.hCBcolumnTwo{
    flex: 1;
    padding-top: 35px;
    padding-left: 35px;
    display: flex;
    justify-content: flex-end;
}

h6 {
    padding-bottom: 5px;
}

button {
    background-color: #1992D4;
    color:white;
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
    width: 70px;
    font-weight: bold;

}

button:hover {
    transform: scale(1.2);
}
.subSectionContentContainer {
    display: flex;
    gap: 15px;
    flex-wrap:wrap;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
}
.subSectionContent {
    width: 250px;
    height: 200px;
    background-color: whitesmoke;
}

@media screen and (max-width: 710px) {
    input {
        width: 125px;
    }
    header {
        font-size: .8em;
    }
    .hCBcolumnTwo {
        padding-top: 0px;
        padding-left: 0px;
        display:block;

    }
    .subSectionContent {
        width: 150px;
        height: 100px;
    }
}